<div class="container text-center upgrade " style="margin-top: 25px">


    <h3><i class="fa fa-pencil-square" aria-hidden="true" style="margin-right: 10px;"></i> Just a quick question...</h3>
</div>

<div class="container text-center">
    <p id="questionnaireQuestion" style="font-weight: 500; background-color: #fcfcfc; padding: 10px; border-radius: 3px;">lol</p>
    <div id="questionnaireOptions"></div>
    <div id="questionnaireResponseCustomContainer" style="display: none;">
        <input type="text" id="questionnaireResponseCustom" style="width: 100%; margin-top: 15px;" placeholder="Please specify">
    </div>
</div>


<div class="container text-center upgrade">
    <div class="button" id="questionnaireSubmit">Submit</i></div>
</div>