<div class="row">
    <div class="twelve columns" style="padding: 100px 10px 10px 10px;">
        <div class="twelve columns text-center">
            <h1 id="verifyingSpinner">
                <i class="fas fa-circle-notch fa-spin"></i>
            </h1>
            <h2 id="verifyingHeader"></h2>
            <p id="verifyingText"></p>
        </div>

    </div>
</div>

<canvas id="confetti-canvas" style="
    position: absolute;
    top: 100px;
    display: block;
    z-index: 9999;" width="500" height="440">
</canvas>