<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
            Settings
        </h3>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewAccountSettings">
                <div class="ten columns offset-by-one">
                    <strong>Account Settings</strong>
                </div>
                <div class="ten columns offset-by-one">
                    Verify your email, view billing details and more...
                </div>
            </a>
        </div>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewValidateAction">
                <div class="ten columns offset-by-one">
                    <strong>Enter a verification code</strong>
                </div>
                <div class="ten columns offset-by-one">
                    Enter your 5-digit verification code.
                </div>
            </a>
        </div>

        <div class="twelve columns settings-options-hover pointer settingsUpGradeButton" id="upgradeAccountButton">
            <div class="ten columns offset-by-one">
                <strong>Upgrade Account (£29.99/yr)</strong>
            </div>
            <div class="ten columns offset-by-one">
                Use your own domain name + get an inbound only SMS number.
            </div>
        </div>

        <div class="twelve columns settings-options-hover">
            <a href="https://forms.gle/RKht1YKZi2yiLmdV8" target="_blank">
                <div class="ten columns offset-by-one">
                    <strong>Contact support</strong>
                </div>
                <div class="ten columns offset-by-one">
                    Drop us an email and we'll get back to you.
                </div>
            </a>
        </div>
    </div>
</div>