<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
            Enter a validation code
        </h3>

        <div class="twelve columns" style="padding: 10px 20px 30px 20px;">To verify a change to your account, please enter the 5-digit code sent to your email below.</div>


        <div class="twelve columns text-center">
            <form>
                <input class="actions-form" id="validation-0" maxlength="1" placeholder="*" type="text">
                <input class="actions-form" id="validation-1" maxlength="1" placeholder="*" type="text">
                <input class="actions-form" id="validation-2" maxlength="1" placeholder="*" type="text">
                <input class="actions-form" id="validation-3" maxlength="1" placeholder="*" type="text">
                <input class="actions-form" id="validation-4" maxlength="1" placeholder="*" type="text">
                <br />
                <input class="button" disabled id="verifyAccountEmail" type="submit" value="Verify">
            </form>
        </div>

    </div>
</div>