<div class="container text-center upgrade " style="margin-top: 25px">
    <i class="fa-solid fa-heart fa-4x"></i>
    <h3>Unleash Premium Features</h3>
</div>

<div class="container upgrade">
    Power users who upgrade get the following benefits:
    <ul>
        <li>Go from 3 to 50 email addresses a day</li>
        <li>Use your own domain name</li>
        <li>Your own private inbound SMS number</li>
        <li>Support an independent developer</li>
    </ul>
</div>

<div class="container text-center upgrade">
    <h4 style="display: inline">&pound;29.99</h4>
    <span style="display: inline">/ year</span>
    <div class="u-cf"></div>

    <div>
        <div class="button" id="upgradeAccountButton">Upgrade now</i></div>
    </div>
    <div style="margin-top: -15px">
        <small>Payments are securely processed through Paddle</small>
    </div>
</div>