<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
             Account Settings
        </h3>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewEditEmail">
                <div class="ten columns offset-by-one">
                    <strong>Attach an email</strong>
                </div>
                <div class="ten columns offset-by-one">
                    Add an email to log back in at a later date.
                </div>
            </a>
        </div>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewAddDomain">
                <div class="ten columns offset-by-one">
                    <strong>Use your own email address</strong>
                </div>
                <div class="ten columns offset-by-one">
                    Using your own domain means you're less likely to get rejected when signing up to websites.
                </div>
            </a>
        </div>
    </div>
</div>