<div class="inbox-zero">
    <h3>No new emails &nbsp; 🎉</h3>
    <br />
    <p id="extension-pinned-explain-app" style="display: none;">
        <strong>To get started: </strong>Use the email provided above when signing
        up to websites you don't want in your normal inbox. They'll start appearing here, and when you're
        done with them, hit the 'delete inbox' button. You'll never hear from them again!
    </p>
    <p id="pin-extension" style="display: none;">
        Pin the extension to get notified of new emails<br />
        <img src="assets/pin-extension.gif" style="border-radius: 15px;" width="300">
    </p>

</div>