<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
            Settings
        </h3>
        <table class="u-full-width">
            <tbody>
                <tr>
                    <td>
                        <strong>Verify Action</strong>
                        <br />
                        Enter an email verification code
                    </td>
                    <td class="text-center" style="width: 75px">
                        <a href="#" id="viewValidateAction">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Secure your account</strong>
                        <br />
                        Add an email to log back in at a later date.
                    </td>
                    <td class="text-center" style="width: 75px">
                        <a href="#" id="viewEditEmail">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Upgrade account</strong>
                        <br />
                        Use your own domain, get a disposable phone number + more.
                    </td>
                    <td class="text-center">
                        <a href="https://inboxesapp.com/pricing?utm_source=chrome" target="_blank">View</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Support</strong> (Twitter)
                        <br />
                        Ask questions, get support & suggest ideas.
                    </td>
                    <td class="text-center">
                        <a href="https://twitter.com/PatrickSocha" target="_blank">Tweet</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>