<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
             <span data-i18n="accountSettingsTitle"></span>
        </h3>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewEditEmail">
                <div class="ten columns offset-by-one">
                    <strong data-i18n="accountSettingsAttachEmail"></strong>
                </div>
                <div class="ten columns offset-by-one" data-i18n="accountSettingsAttachEmailDescription"></div>
            </a>
        </div>

        <div class="twelve columns settings-options-hover">
            <a href="#" id="viewAddDomain">
                <div class="ten columns offset-by-one">
                    <strong data-i18n="accountSettingsAddDomain"></strong>
                </div>
                <div class="ten columns offset-by-one" data-i18n="accountSettingsAddDomainDescription"></div>
            </a>
        </div>
    </div>
</div>