<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
            <span data-i18n="addDomainTitle"></span>
        </h3>
        <div class="twelve columns">
            <!-- <div class="one columns offset-by-one">⚠️</div> -->
            <div class="row">
                <div class="twelve columns" data-i18n="addDomainDescription" style="padding: 0 20px 20px 20px;"></div>
                <div class="twelve columns" style="padding: 0 20px 0 20px;">
                    Add the following MX record to your desired domain:
                    <pre><code>mx: ingress.inboxes.app &nbsp; &nbsp; priority: 10</code></pre>
                </div>
                <div class="twelve columns" data-i18n="addDomainOnceAdded" style="padding: 0 20px 10px 20px;"></div>
            </div>
        </div>

        <div class="twelve columns" style="padding: 0 20px 75px 20px;">
            <input class="u-full-width" id="addDomainForm" placeholder="mydomain.com" type="url">
            <br />
            <input class="button" data-i18n="buttonValidateDNS" id="updateAddDomainSubmit" type="submit" value="Validate DNS & use this domain">
        </div>

    </div>
</div>