<div class="row">
    <div class="twelve columns" style="padding: 10px;">
        <h3>
            <i class="fas fa-chevron-right"></i> &nbsp;
            Update your email
        </h3>
        <div class="twelve columns">
            <!-- <div class="one columns offset-by-one">⚠️</div> -->
            <div class="row">
                <div class="twelve columns" style="padding: 0px 20px 20px 20px;">
                    We don't require an email to use Inboxes App, but we'll need it if you ever want to log back in to
                    this account or restore paid features.
                </div>
            </div>
        </div>

        <div class="twelve columns" style="padding: 0px 20px 20px 20px;">
            <input class="u-full-width" type="email" placeholder="tim.apple@apple.com" id="emailForm">
            <br />
            <input class="button" type="submit" value="Submit" id="updateEmail">
        </div>

    </div>
</div>